.header {
    background-color: #374555;
    color: #FFFFFF;
    border: 1px solid #fff;
    align-items: center;

}

.panel_border {
    margin: 5px;
    border: 2px solid #fff;
    width: 50%;
    display: inline-block;

}

.divider {
    background: azure;
    width: 25%;
    height: 2px;
}